@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,700;1,900&display=swap");

// Variables
$bgc: #fafafa;
$base-color: #2a2a2a;
$border-dark: rgba($base-color, 0.88);
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$font-normal: 62.5%;
$font-normal-larger: $font-normal * 1.4;
$line-height-normal: 1.7;
$font-primary: "Roboto", sans-serif;
$font-heading: "Oswald", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgc;
  color: $base-color;
  font-family: $font-primary;
  line-height: $line-height-normal;
  padding: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

a {
  color: $dark-green;
}
